/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/leoniechrissi -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 2,
        memory: '6.GB',
        time: '2.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    // we reduced the initial sample sheet from RNA-seq to make it runnable on our machines
    input  = './assets/samplesheet_test.csv'// Genome references
    // the genome is pulled by genomeAttribute (preimplemented) as a fasta and gft that is further used in the pipeline
    genome = 'R64-1-1'
 
    // other parameters
    seq_center     = 'unknown'  
    save_unaligned = false        // remove unaligned reads
    hisat2_build_memory = '6.GB'

    // output dir
    outdir = 'results/'

}
